* {
    border: 1 solid red;
}

body {
    font-family: 'roboto';
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header-box, .hero-box, .info-box, .quote-box, action-box {
    width: 900px;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 8px;
    justify-content: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    background-color: #1f2937;
}

.hero-box {
    display: flex;
    gap: 20px;
}

.hero-right {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #f9faf8;
    flex-shrink: 0;
}

.hero-image {
    width: 300px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 20px;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-start;
}

.info-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    background-color: #f9faf8;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
}

.info-items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.info-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-item-image {
    border-radius: 8px;
    /* border-color: #3882f6; */
    /* border-style: solid; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info-item-image-text {
    font-size: 22px;
    text-align: center;
}

.info-item-image-graphic {
    height: 145px;
}

.info-item-text {
    font-size: 14px;
}

.quote-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    background-color: #e5e7eb;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-attribution {
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-end;
}

.action-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 100px 0px;
    background-color: #f9faf8;
}

.action-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-button {
    align-self: flex-start;
}